.bgfifth{
    background-color: black;
    border-radius: 25px;
}
.btnprififth{
    background-color: rgb(9, 255, 9);
    border-radius: 10px;
    
}
.btndarfifth{
    background-color:black;
    border-radius: 10px;
    border-color: white;

}
.bgdarkfifth{
    background-color:gray;
    border-radius: 25px;

}